.box {
  background-color: pink;
  width: 300px;
  border: 15px solid teal;
  padding: 50px;
  margin: 20px;
  display: grid;
  place-items: center;
  text-align: center;
}
body {
  background-color: lightblue;
}

.header1 {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: pink;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 15px;
}
nav {
  gap: 10px;
  display: flex;
  flex-direction: row;
}
nav > a {
  text-decoration: none;
}
.main {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.height {
  height: 100%;
}
.italianno-regular {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
}
img.index {
  width: 400px;
  height: 416px;
  margin-top: 20px;
  /* margin-bottom: 20px; */
}
a {
  color: rgb(102, 24, 114);
}
footer {
  justify-content: center;
}
.patrick-hand-regular {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
}
.forform {
  margin-top: 80px;
}
/* .left {
 float: left; 
 width: 45%; 
}
.right {
  float: right;
  width: 45%; 
}*/
.center {
  margin-left: 550px;
}
h1 {
  color: teal;
  font-family: "Lobster", sans-serif;
}
.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.submit {
  text-align: center;
  margin-top: 100px;
}
.text {
  color: rgb(1, 54, 95);
}
